In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#| code-fold: true
# A little bit of Setup
import os
from IPython.display import Image as Img

dir_data = '/Users/waelbenhamouda/Documents/Master 2/Python Programming/teaching_Python-master/data'

dir_assets = '/Users/waelbenhamouda/Documents/Master 2/Python Programming/teaching_Python-master/notebooks/assets'

def img_colab(img_path):
    '''
    Helper function returning an image to be displayed by Jupyter Notebook / IPython.display module.

    Parameters
    ----------
    path : path to image
        The image should be in a child folder "./assets".
    '''

    display(Img(os.path.join(dir_assets, img_path)))
    return None

In [ ]:
#| code-fold: true
# # Within Google Colab (uncomment below)

# # mount my Google Drive on the VM
# from google.colab import drive
# drive.mount('/gdrive')

# # You should have already created a 'teaching_Python' folder
# # within your Google Drive to persist code and data

# # the following code should then list the files in the data folder
# dir_python = '/gdrive/MyDrive/teaching_Python'

# dir_data = os.path.join(dir_python, 'data')
# os.listdir(dir_data)


# Case study: entering a new real estate market


You work for a real estate company that would like to be more data-driven, and you are the main expert of data analysis in the company, so you are in a very strategic role at the moment.

The CEO needs to decide whether it's worth entering in a new market or not. In order to do so in a data-informed decision, he asks your help to perform an Exploratory Data Analysis on the listing ads that have been published for a particular city, and provide insights that might be useful to understand how "hot" the market is, what are some characteristics of the market in terms of price and housing characteritics, etc.
In this notebook, you will perfom this analyis, more instructions are given in file `notebooks/03_real_estate_eda_description.txt`, data for the analysis is available in course repository folder `data/fintech/`.

In [10]:
df = pd.read_csv('/Users/waelbenhamouda/Documents/Master 2/Python Programming/teaching_Python-master/data/fintech/listings.csv')
df

,ad_id,ad_state,ad_operation,ad_typology,ad_propertytype,ad_unitprice,ad_activationdate,ad_deactivationdate,ad_modificationdate,ad_layerlocation,...,censustract_id,censustract_town_id,address_certainty,cadastral_certainty,ad_ParkingIsIncludedInPrice,ad_isAuction,ad_constructionyear,ad_heatingtype,last_seen_date,country
0,d5e60e53857e8125c90c08707cab3a23,3,1,1,1,1030.303030,2020-07-21,NaN,2021-06-29,f2e22538d31e57c6bd670ddab7cc657e,...,NaN,NaN,NaN,NaN,NaN,0.0,1979.0,NaN,2021-09-29,it
1,137f5d98023d5a129bbd339dadc61d59,3,1,1,1,1582.608696,2021-03-18,NaN,2021-04-16,96370e95ee45e01690a34213af221c37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-21,it
2,0e67d9a819e12a948b0fd28bc4a94a1d,3,1,1,1,2873.786408,2021-07-22,NaN,2021-10-13,9ba947f71432d235b530d89f94f5f02b,...,NaN,NaN,NaN,NaN,NaN,NaN,2021.0,NaN,2021-10-14,it
3,7732c42a9441411eaf55f17632c10bb6,3,1,1,1,564.935065,2021-12-09,NaN,2021-12-21,400d09760dfd7c552e444a2c0df30782,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2022-02-18,it
4,96af3057c851a1b5594bce0c7f7864c2,3,1,2,1,3000.000000,2021-04-12,2021-03-26,2021-04-22,30907c9787a9f0abb95882f115ff1cec,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-28,it
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199359,24cfe82ed7b0d80bcda9c58c604bb739,3,1,1,1,673.076923,2021-08-06,NaN,2021-08-19,59280ee374fa9b6f19c713e0e3000788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-20,it
199360,25da55cb019156986fba6816f248e0b8,3,1,1,1,4812.500000,2021-11-15,NaN,2022-03-07,a3c47f8c8202d15ff4aeff6102adc107,...,NaN,NaN,NaN,NaN,NaN,NaN,1970.0,CENTRAL_OTHER,2022-03-08,it
199361,815a093ac1fabdd9d25a9f415685318d,3,1,2,1,5285.714286,2022-03-07,NaN,2022-03-07,72fba7c6c57ed8519627ff3b45b712be,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL_OTHER,2022-03-08,it
199362,1add67e4e1e0fdee3a72ed78d3083d6d,3,1,2,1,1080.000000,2021-05-19,NaN,2022-03-07,56f2ba8b222a6fc54e255b5b8cb854ef,...,NaN,NaN,NaN,NaN,NaN,NaN,1940.0,INDIVIDUAL,2022-03-08,it
199363,aaece7ab67a29c51c9b9e7c42ed4c504,3,1,1,1,3238.095238,2021-11-25,NaN,2022-02-08,3d17a7e664b3bdb02e542e1301e4c5fd,...,NaN,NaN,NaN,NaN,NaN,0.0,2000.0,INDIVIDUAL,2022-03-16,it

In [13]:
df.describe()

,ad_state,ad_operation,ad_typology,ad_propertytype,ad_unitprice,ad_postalcode,ad_streetnumber,ad_addressvisible,ad_subtypology,ad_area,...,property_builtdate,property_area,property_use,censustract_id,censustract_town_id,address_certainty,cadastral_certainty,ad_ParkingIsIncludedInPrice,ad_isAuction,ad_constructionyear
count,199364.0,199364.0,199364.000000,199364.000000,199364.000000,194301.000000,103240.000000,199364.000000,60574.000000,199364.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67908.000000,67678.000000
mean,3.0,1.0,1.295359,1.003065,1931.715600,82498.820469,120.814568,1.679516,3.257916,292.369024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.482859,1973.819764
std,0.0,0.0,0.520194,0.055275,1280.396721,381.047763,3055.309901,0.782625,3.791413,7435.706364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499710,71.547183
min,3.0,1.0,1.000000,1.000000,0.020833,42469.000000,0.000000,1.000000,0.000000,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000
25%,3.0,1.0,1.000000,1.000000,937.500000,82462.000000,0.000000,1.000000,1.000000,78.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1960.000000
50%,3.0,1.0,1.000000,1.000000,1812.500000,82483.000000,6.000000,1.000000,3.000000,105.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1980.000000
75%,3.0,1.0,2.000000,1.000000,2722.222222,82554.000000,28.000000,2.000000,4.000000,160.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2009.000000
max,3.0,1.0,3.000000,2.000000,144067.796610,103550.000000,350350.000000,3.000000,19.000000,850000.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,3000.000000